h1 {
  font-family: Tahoma, Helvetica, sans-serif; 
  font-weight: bold;
  color:rgb(255, 255, 255);
}

h2 {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 10px 10px 0px 10px;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #0d47a1;
}

h4 {
  margin-left: 5px; 
}

.space {
	flex: 1 1 auto;
}

.content {
  margin: 1% 1%;
  border: 1px solid #8080806b;
}

.folder-icon {
  color: #e6a80e;
}

.item {
  display: flex;
  margin: 10px 10px -10px 10px;
  cursor: pointer;
}

.active {
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #0d47a1;
  color: #ffffff;
}

mat-drawer {
	min-height: 700px;
}

mat-drawer-content {
	min-height: 700px;
}

p {
	margin: 10px 10px 0px 10px;
	text-align: center;
}

