<hr>
 <p>
  <img class="desktop-logo" src="https://www.avaloq.com/o/avaloq-theme/images/avaloq_logo_claim.svg" alt="Avaloq Logo Claim">
 </p>
<hr>

<mat-toolbar color="primary">
	<h1><mat-icon>collections_bookmark</mat-icon>  Bookmarks Manager</h1>
	<span class="space"></span>
</mat-toolbar>
<p><popup [config]="addPopupConfig"></popup></p>
<mat-drawer-container class="content">
  <!-- side bar -->
    <mat-drawer mode="side" opened>
        <h2>Bookmarks <mat-icon>bookmark_border</mat-icon></h2>
        <div *ngFor="let group of groups" (click)="loadGroup(group)" class="item" [ngClass]="{'active':isActive(group)}">
           	<mat-icon>bookmark</mat-icon>
       		<h4>{{group}}</h4>
        </div>
    </mat-drawer>
  <!-- Bookmark content -->
    <mat-drawer-content>
        <bm-table [config]="bookmarkTableConfig"></bm-table>
    </mat-drawer-content>
</mat-drawer-container>
